/* Kevin Palmer, UW-Madison, GEOG777, Fall 2019, Project 2 */


html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: calc(100vh - 34px);
    width: calc(100vw - 6px);
}

.esri-widget {
    color: navy;
}

.esri-widget--button {
    background-color: red;
    color: white;
    border: 1px solid navy;
}

.esri-basemap-gallery__item-title, .esri-layer-list__item-title {
    color: navy;
    font-weight: bold;
}

.esri-slider__track, .esri-icon-visible:before {
    color: navy;
}

.esri-view-height-small .esri-ui-corner .esri-component .esri-expand__content {
    max-height: calc(100vh - 34px);
}

.esri-expand__container {
    height: 32px;
}

.esri-ui-corner .esri-component {
    box-shadow: 0 1px 4px 4px rgba(0,0,128,0.3);
}

#menu {
    width: 150px;
    padding: 0.8em;
}

#floorSelector {
    height: 100px;
    margin: 1em 0 1em -40px;
    background: transparent;
}

#filterReset {
    background-color: red;
    border: 2px solid navy;
}

.esri-expand__content {
    border: 2px solid navy;
}

.esri-slider__thumb {
    background-color: red;
    border: 2px solid navy;
}

/*.geocoder-control-expanded,*/
/*.leaflet-touch .geocoder-control-expanded,*/
/*.geocoder-control-suggestions,*/
/*.leaflet-touch .geocoder-control-suggestions {*/
/*    width: calc(100vw - 19px);*/
/*}*/

/*.leaflet-touch .geocoder-control.geocoder-control-expanded {*/
/*    width: calc(100vw - 19px);*/
/*}*/

/*.label {*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*}*/

/*.label div {*/
/*    position: relative;*/
/*    left: -50%;*/
/*    bottom: 50%;*/
/*}*/

/*.leaflet-tooltip-pane .sectionText {*/
/*    color: red;*/
/*    font-weight: bold;*/
/*    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;;*/
/*    background: transparent;*/
/*    border: 0;*/
/*    box-shadow: none;*/
/*}*/

/*.leaflet-container .sectionText {*/
/*    font-size: 14px*/
/*}*/

/*.leaflet-retina .leaflet-control-layers-toggle {*/
/*    background-image: url("../img/layer-group.svg")*/
/*}*/