/* Kevin Palmer, UW-Madison, GEOG777, Fall 2019, Project 2 */


body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

/*#viewDiv {*/
/*    height: calc(100vh - 36px);*/
/*    width: calc(100vw - 6px);*/
/*}*/

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#menu {
    width: 150px;
    padding: 0.8em;
}

#floorSelector {
    height: 100px;
    margin: 1em 0 1em -40px;
    background: transparent;
}

.geocoder-control-expanded,
.leaflet-touch .geocoder-control-expanded,
.geocoder-control-suggestions,
.leaflet-touch .geocoder-control-suggestions {
    width: calc(100vw - 19px);
}

.leaflet-touch .geocoder-control.geocoder-control-expanded {
    width: calc(100vw - 19px);
}

.label {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.label div {
    position: relative;
    left: -50%;
    bottom: 50%;
}

.leaflet-tooltip-pane .sectionText {
    color: red;
    font-weight: bold;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;;
    background: transparent;
    border: 0;
    box-shadow: none;
}

.leaflet-container .sectionText {
    font-size: 14px
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url("../img/layer-group.svg")
}